


*{
	margin:0;
	padding: 0;
}

#nav-bar
{
	position:sticky;
	top: 0;
	z-index: 10;
	
	
}

/* Add a black background color to the top navigation bar */
.topnav 
{
  	overflow: hidden;
	
 	
}

/* Style the links inside the navigation bar */
.topnav a 
{
  float: left;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 26px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(221, 221, 221);
  color: rgb(38, 7, 214);
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #00CDCD;
  
}

.navbarNav ul .li
{
	color: white;
	background-color: black;
}

.topnav a 
{
  	background-color: white;
	font-size: 20px;
  
}
.navbar-brand img
{
	height:100px;
	padding-left:0;
	
}

.navbar-nav li
{
	padding: 0 10px;
}

.navbar-nav li a
{
	float: right;
	text-align: left;
	font-size: 20px;
	
	background-color: #00CDCD;
	
  	
	
}


#nav-bar ul li a:hover
{
	color:#007bff!important;
}

.navbar
{
	background-color: #00CDCD;
	margin-bottom: 20px;
	
}

.navbar-toggler
{
	border: none;
	
}

.navbar-link
{
	color:#555!important;
	font-weight:600;
	font-size:16px;
}


#Slider
{
	
	width: auto;
	height: 240px;;
}



/*-----product-top css-------*/

.title-box
{
	background: #00CDCD;
	color: #fff;
	width: 180px;
	padding: 4px 10px;
	height: 40px;
	margin-bottom: 30px;
	display: flex;
	margin-top: 70px;
}



.title-box h2
{
	font-size: 24px;	
}
.title-box::after
{
	content: '';
	border-top: 40px #00cdcd;
	border-right: 50px solid transparent;
	position: absolute;
	display: flex;
	margin-top: -4px;
	margin-left: 170px;
}


.product-top img
{
	width: 100%;
	height: 300px;
}
.overlay-right
{
	display: block;
	opacity: 0;
	position: absolute;
	top: 10%;
	margin-left: 0;
	width: 70px;
	margin-bottom: 5%;
	margin-top: 5%;
	
}
.overlay-right .fa
{
	cursor: pointer;
	background-color: #fff;
	color: #000;
	height: 35px;
	width: 35px;
	font-size: 20px;
	padding: 7px;
	margin-bottom: 5%;
	margin-top: 10px;;
	 

}
.overlay-right .btn-secondary
{
	background: none !important;
	border: none !important;
	box-shadow: none !important;
}
.product-top:hover .overlay-right
{
	opacity: 1;
	margin-left: 5%;
	transition: 0.5s;
}

.product-bottom h3
{
	font-size: 28px;
	padding-bottom: 10px; 
}



#about
{
	padding-top: 50px;
	padding-bottom: 50px;
	color:#555;
}


#about .btn
{
	margin-top:20px;
	margin-bottom:30px;
	
}

.about-content
{
	padding-top: 20px;
}

.skills-bar p
{
	margin-bottom:6px;
	font-weight: 600;
}

.progress-bar
{
	border-radius:16px;
}

.progress
{
	border-radius:16px!important;
	margin-bottom: 20px;
	
}

#services
{
	background: black;
	background-size: cover;
	background-position: center;
	color:#555!important;
	background-attachment: fixed;
	padding-top:50px;
	padding-bottom: 50px;
}



#services h1
{
	text-align: center;
	color:#fff!important;
	padding-bottom: 10px;
}

#services h1::after
{
	content: '';
	background:#efefef;
	display: block;
	height:3px;
	width:170px;
	margin: 20px auto 5px;
}
#services h3
{
	font-weight: 400;
	color: white;
	margin: auto;
}
#services p
{
	font-weight: 400;
	color: white;
	margin: auto;
	margin-top: 20px;
}


#services i
{
	
	color: white;
}

.icon
{
	font-size:40px;
	margin:20px auto;
	padding: 20px;
	height: 80px;
	width:80px;
	border:1px solid #fff;
	border-radius:50%;
}

.services .col-md-4:hover{
	background:#007bff;
	cursor: pointer;
	transition: 0.7s;
	
}


/*-------contact---------*/

#contact
{
	background: #efefef;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #777;

}

.contact-form
{
	padding: 15px;
}

::placeholder
{
	color: #999!important;
}

.follow
{
	background: #fff;
	padding: 10px;
	margin: 15px;
}

.contact-info .fa
{
	margin: 10px;
	color: #007bff;
	font-weight: bold;
}


.product-price {


	color: black;
	text-align: center;
	font-weight: bold;
	color:#555;
}

#Quantity {

background-color: #007bff;
margin: 10px;
font-weight: bold;

}